@media (max-width: 767px) {
    .center {
        padding-left: calc(50% - 172px);
        padding-right: calc(50% - 172px);
    }

    .header {
        height: 700px;
        background: url(svg/Star\ 1.1.svg) no-repeat 91px 64px,
            url(svg/Star\ 2.2.svg) no-repeat 37px 97px,
            url(svg/Star\ 7.svg) no-repeat 100% 0%,
            url(svg/Star\ 4.2.svg) no-repeat 303px 580px,
            url(svg/Star\ 5.2.svg) no-repeat 272px 577px;
        background-color: rgb(225, 255, 143);
    }

    .header__content {
        width: 343px;
        height: 371px;
        margin-top: 147px;
    }

    .header__heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: center;

    }

    .header__paragraf {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: center;
        padding-left: 23px;
        padding-right: 23px;
    }

    .header__action {
        display: flex;
        justify-content: center;
    }

    .header__animation {
        top: 649px;
        height: 51px;
        gap: 27px;
    }

    .animation-word {
        font-size: 16px;
        font-weight: 700;
        line-height: 110%;
        letter-spacing: 4%;
        text-align: left;
        text-transform: uppercase;
    }

    .navigation {
        background: none;
        background-color: rgb(32, 32, 39);
    }

    .animation-star {
        height: 19px;
        width: 19px;
    }

    .navigation-title {
        display: none;
    }

    .navigation__title-mobile {
        display: contents;
    }

    .navigation-heading {
        color: rgb(255, 255, 255);
        font-size: 40px;
        font-weight: 700;
        line-height: 49px;
        letter-spacing: 0px;
        text-align: left;
        padding-top: 48px;
        margin-bottom: 48px;
    }

    .navigation-content {
        display: none;
    }

    .navigation__content-mobile {
        display: block;
        padding-bottom: 48px;
    }

    .navigation-items {
        transform: none;
        transition: none;
    }

    .navigation-items:hover {
        transform: none;
    }

    .card-name__button {
        width: 285px;
        height: 55px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: none;
        order: 1;
        flex-grow: 0;
        box-sizing: border-box;
        border: 1px solid rgb(32, 32, 39);
        border-radius: 60px;
        background: rgb(32, 32, 39);
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 600;
        line-height: 142%;
        text-align: center;
        color: rgb(255, 255, 255);
        text-decoration: none;
    }

    .card-name__button:hover {
        border: 1px solid rgb(255, 255, 255);
        background: rgb(255, 255, 255);
        color: rgb(32, 32, 39);
        border-color: rgb(32, 32, 39);
    }

    .game-target {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0px;
        text-align: left;
    }

    .games {
        display: none;
    }

    .footer {
        height: 100px;
    }

    .footer-heading {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
        padding-top: 40px;
    }
}