@media (max-width: 1230px) {
    .center {
        padding-left: calc(50% - 600px);
        padding-right: calc(50% - 600px);
    }

    
    .navigation__block-high{
        margin-bottom: 32px;
    }
}