@media (max-width: 1024px) {
    .center {
        padding-left: calc(50% - 425px);
        padding-right: calc(50% - 425px);
    }

    .header {
        &__content {
            height: 350px;
            margin-top: 164px;
        }

        &__heading {
            font-size: 52px;
            font-weight: 700;
            line-height: 83px;

        }
    }

    .navigation {
        &-content {
            display: none;

            &-mobile {
                display: none;
            }
        }
    }

    .content-tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 100px;
        row-gap: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .border01 {
        height: 1px;
        background-image: linear-gradient(90deg, #7d7a7a, #7d7a7a 75%, transparent 75%, transparent 100%);
        background-size: 20px 1px;
        border: none;
        margin-left: -12%;
        width: 1024px;
    }

    .games {
        &__content {
            display: none;

            &-tablet {
                display: flex;
                flex-direction: column;
                gap: 32px;
                padding-bottom: 144px;
            }

            &-mobile {
                display: none;
            }
        }

        &__name{
            font-size: 36px;
            line-height: 40px;
        }

        &__left {
            gap: 0;
            width: 500px;
        }

        &__right {
            flex-wrap: wrap;
        }
    }
}